compiler/src/CIL/*.ml
compiler/src/CIL/*.mli
*~
*.eco
*.d
*.o
*.s
*.a
*.cm[ioxa]
*.cmx[as]
*.annot
*.vo
*.vok
*.vos
*.vio
*.cache
*.bak
*.glob
*.aux
*.lock
_build
*.run.out
*.run.err
*.pyc
*.native
a.out
.DS_Store
test_jasmin.rs

Makefile.coq
Makefile.coq.bak
Makefile.coq.conf

/jasmin/
/jasmin.tar.gz
/compiler/config/checker_config_default.json
/compiler/config/checker_config_doc.json

# nix build output
result
