compiler/src/CIL/*.ml
compiler/src/CIL/*.mli
*.d
*.o
*.a
*.cm[ioxa]
*.cmx[as]
*.annot
*.vo
*.vio
*.cache
*.glob
*.aux
*.lock
_build
*.run.out
*.run.err
*.pyc
*.native
.DS_Store
test_jasmin.rs

target

Makefile.coq

/ssreflect/*.v
/ssreflect/*.ml*
/ssreflect-tmp/
