compiler/src/CIL/*.ml
compiler/src/CIL/*.mli
*.d
*.o
*.a
*.cm[ioxa]
*.cmx[as]
*.annot
*.vo
*.cache
*.glob
*.aux
*.lock
_build
*.run.out
*.run.err
*.pyc
*.native

target

Makefile.coq
_CoqProject*

/ssreflect/*.v
/ssreflect/*.ml*
/ssreflect-tmp/
