[default]

[test-template]
bin    = ./scripts/check
args   = -arch x86-64
okdirs = tests/template/success
kodirs = tests/template/fail

[test-x86-64-nolea]
bin    = ./scripts/check
args   = -arch x86-64 -nolea
kodirs = tests/fail/nolea/x86-64

[test-CCT]
bin    = ./jasmin-ct
okdirs = CCT/success
kodirs = CCT/fail
exclude = CCT/success/doit CCT/fail/doit

[test-CCT-DOIT]
bin    = ./jasmin-ct
args = --doit
okdirs = CCT/success/doit
kodirs = CCT/fail/doit

[test-SCT]
bin    = ./jasmin-ct
args = --speculative --after=rmfunc
okdirs = CCT/success/speculative

[test-x86-64-ATT]
bin     = ./scripts/check
args    = -arch x86-64 -ATT
okdirs  = examples/**/x86-64 tests/success/**/x86-64 tests/success/**/common

[test-x86-64-Intel]
bin = ./scripts/check
args = -arch x86-64 -intel
okdirs = examples/**/x86-64 tests/success/**/x86-64 tests/success/**/common

[test-x86-64-extraction]
bin = ./scripts/extract-and-check
args = x86-64
okdirs = examples/**/x86-64 tests/success/**/x86-64 tests/success/**/common
exclude = tests/success/noextract

[test-arm-m4]
bin = ./scripts/check
args = -arch arm-m4
okdirs = examples/**/arm-m4 tests/success/**/arm-m4 tests/success/**/common

[test-arm-m4-extraction]
bin = ./scripts/extract-and-check
args = arm
okdirs = examples/**/arm-m4 tests/success/**/arm-m4 tests/success/**/common
exclude = tests/success/noextract

[test-x86-64-stack-zero-loop]
bin     = ./scripts/check
args    = -arch x86-64 -stack-zero=loop
okdirs  = examples/**/x86-64 tests/success/**/x86-64

[test-x86-64-stack-zero-unrolled]
bin     = ./scripts/check
args    = -arch x86-64 -stack-zero=unrolled
okdirs  = examples/**/x86-64 tests/success/**/x86-64

[test-arm-m4-stack-zero-loop]
bin     = ./scripts/check
args    = -arch arm-m4 -stack-zero=loop
okdirs  = examples/**/arm-m4 tests/success/**/arm-m4

[test-arm-m4-stack-zero-unrolled]
bin     = ./scripts/check
args    = -arch arm-m4 -stack-zero=unrolled
okdirs  = examples/**/arm-m4 tests/success/**/arm-m4
exclude = tests/success/arm-m4/large_stack

[test-risc-v]
bin = ./scripts/check
args = -arch riscv
okdirs = examples/**/risc-v tests/success/**/risc-v tests/success/**/common

[test-risc-v-extraction]
bin = ./scripts/extract-and-check
args = riscv
okdirs = examples/**/risc-v tests/success/**/risc-v tests/success/**/common
exclude = tests/success/noextract
