[default]

[test-x86-64-nolea]
bin    = ./scripts/check-x86-64
args   = -nolea
kodirs = tests/fail/nolea/x86-64

[test-safety]
bin    = ./scripts/check-safety
okdirs = !safety/success
kodirs = !safety/fail

[test-CCT]
bin    = ./scripts/check-cct
okdirs = !CCT/success
kodirs = !CCT/fail

[test-SCT]
bin    = ./scripts/check-cct
args = --speculative --after=rmfunc
okdirs = !CCT/success/speculative

[test-x86-64-ATT]
bin     = ./scripts/check-x86-64
args    = -ATT
okdirs  = examples/**/x86-64 tests/success/**/x86-64 tests/success/**/common
kodirs  = tests/fail/**/x86-64
exclude = !tests/fail/warning

[test-x86-64-Intel]
bin = ./scripts/check-x86-64
args = -intel
okdirs = examples/**/x86-64 tests/success/**/x86-64 tests/success/**/common
kodirs = tests/fail/**/x86-64
exclude = !tests/fail/warning

[test-x86-64-print]
bin = ./scripts/parse-print-parse
okdirs = tests/success/x86-64 tests/success/**/common

[test-x86-64-extraction]
bin = ./scripts/extract-and-check
okdirs = examples/**/x86-64 tests/success/**/x86-64 tests/success/**/common
exclude = !tests/success/noextract

[test-arm-m4]
bin = ./scripts/check-arm-m4
okdirs = examples/**/arm-m4 tests/success/**/arm-m4 tests/success/**/common
kodirs = tests/fail/**/arm-m4

[test-arm-m4-print]
bin = ./scripts/parse-print-parse
args = arm
okdirs = tests/success/**/arm-m4 tests/success/**/common

[test-arm-m4-extraction]
bin = ./scripts/extract-and-check
args = arm
okdirs = examples/**/arm-m4 tests/success/**/arm-m4 tests/success/**/common
exclude = !tests/success/noextract

[test-x86-64-stack-zero-loop]
bin     = ./scripts/check-x86-64
args    = -stack-zero=loop
okdirs  = examples/**/x86-64 tests/success/**/x86-64
kodirs  = tests/fail/**/x86-64
exclude = !tests/fail/warning

[test-x86-64-stack-zero-unrolled]
bin     = ./scripts/check-x86-64
args    = -stack-zero=unrolled
okdirs  = examples/**/x86-64 tests/success/**/x86-64
kodirs  = tests/fail/**/x86-64
exclude = !tests/fail/warning

[test-arm-m4-stack-zero-loop]
bin     = ./scripts/check-arm-m4
args    = -stack-zero=loop
okdirs  = examples/**/arm-m4 tests/success/**/arm-m4
kodirs  = tests/fail/**/arm-m4

[test-arm-m4-stack-zero-unrolled]
bin     = ./scripts/check-arm-m4
args    = -stack-zero=unrolled
okdirs  = examples/**/arm-m4 tests/success/**/arm-m4
kodirs  = tests/fail/**/arm-m4
exclude = !tests/success/arm-m4/large_stack
