[default]
bin = ./scripts/compile-and-assemble

[test-nolea]
args   = -nolea
kodirs = tests/fail/nolea

[test-safety]
bin    = ./scripts/check-safety
okdirs = !safety/success
kodirs = !safety/fail

[test-CCT]
bin    = ./scripts/check-cct
okdirs = !CCT/success
kodirs = !CCT/fail

[test-all]
okdirs = !examples !tests/success
kodirs = tests/fail tests/fail/annotation

[test-print]
bin = ./scripts/parse-print-parse
okdirs = tests/success
